@import url('http://fonts.cdnfonts.com/css/circe');
@import url('http://fonts.cdnfonts.com/css/gilam');
body {
    background-color: black;
    font-family: "Gilam", sans-serif;
    color: white;
}

.background_1 {
   background: url(../images/header-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.background_2 {
    background: url(../images/parallax-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.p-top-120 {
    padding: 120px 0 0 0;
}

a {
    text-decoration: none;
}

.logo {
    width: 216px;
    height: 33px;
    flex-grow: 1;
    padding-bottom: 20px;
}

.container {
    max-width: 1920px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 230px;
}

header.container {
    display: flex;
    align-items: center;
    font-family: "Circe", sans-serif;
    padding-top: 46px;
}

.number {
    font-size: 20px;
    color: white;
}

.number span {
    color: #D6AF76;
}

.btn_call a {
    font-size: 18px;
    color: #E4B564;
    padding: 10px 25px;
    border: 1px solid #E4B564;
    margin-left: 39px;
    font-weight: 400;

}

.btn_call img {
    padding-right: 10px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;

}

h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 41px 0 0 0;
}

.jobs {
    display: grid;
    grid-template-areas:
    "job-1 job-1 job-2 job-2 job-3 job-3"
    "job-4 job-4 job-4 job-5 job-5 job-5";
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    padding: 41px 0 0 0;
}

.jobs  div {
    height: 468px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.job-1 {
    grid-area: job-1;
    background-color: #634F2C;
}

.job-2 {
    grid-area: job-2;
    background-color: #B4A385;
}

.job-3 {
    grid-area: job-3;
    background-color: #E4B564;
}

.job-4 {
    grid-area: job-4;
    background-color: #635A4A;
}

.job-5 {
    grid-area: job-5;
    background-color: #B08C4D;
}

.equipments {
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    padding: 94px 0 0 0;
}


.equipments div p {
    padding: 44px 0 0 52px;
    font-family: "Gilam", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.equipments div p span {
    font-family: "Gilam", sans-serif;
    font-weight: 700;
}

.equipment-1 {
    height: 310px;
    background-color: #0E0E0E;
}

.equipment-2 {
    height: 560px;
    background-color: #1F1F1F;
}

.equipment-3 {
    height: 440px;
    background-color: #242424;
}

.equipment-4 {
    height: 430px;
    background-color: #E4B564;
    color: #000000;
}

.equipment-5 {
    height: 250px;
    background-color: #1F1F1F;
}

.equipment-6 {
    height: 310px;
    background-color: #0E0E0E;
}

.equipment-7 {
    height: 280px;
    background-color: #0A0909;
}

.clients_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
   
}

/*.clients_title div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s ease-out;
    position: absolute;
    z-index: 1;
    width: 80%;
    max-width: 360px;
}*/


.btn_projects {
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 26px;
    font-weight: 400;
    font-size: 18px;
    color: #E4B564;

}


.clients_projects {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80vh;
    padding-bottom: 238px;
}

.grid > div {
    width: 487px;
    height: 391px;
    text-align: center;
}

.client-1 {
    background-color: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.client-2 p {
    text-align: center;
}

.client-2 {
    background-color: #E8D2ABC2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.client-3 {
    background-color: #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.client-4 {
    background-color: #635A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.client-5 {
    background-color: #B08C4D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.client-6 {
    background-color: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}









